﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Map Styles */
#map_wrapper {
    height: 700px;
    border:double 4px #bbb;
}

#map_canvas {
    width: 100%;
    height: 100%;
}

/* Layout Styles */
.left-pane {
    height:100%;
    min-height:255px;
    width:100%;
    margin-bottom:30px;
}
.left-pane-border {
    border:solid 1px #bbb;
}
.left-pane h4 {
    text-align:center;
    width:100%;
}
.left-pane ul {
    list-style:none;
    margin:20px 0;
    padding:0;
}
.left-pane ul > li {
    display:block;
    margin:5px 0;
    background-color:#fff;
    line-height: 30px;
}
.left-pane ul > li:nth-child(odd)  {
    background-color:#eee;
}
.left-pane ul > li > input[type=checkbox] {
    margin: 0 5px 0 10px;
    padding: 0;
}
.left-pane ul > li > img {
    height:25px;
    margin:0 5px 0 0;
    width:25px;
}
.left-pane ul > li > a {
    padding: 0;
}
.left-pane ul > li > span {
    display:inline-block;
    font-size:11px;
    margin-left:5px;
}
.left-pane select {
    width: 80%;
    margin: 20px auto;
    display: block;
}

