﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @if (Request.ApplicationPath == "/")
    {
        <base href='@Request.ApplicationPath' />
    }
    else
    {
        <base href='@Request.ApplicationPath/' />
    }
</head>
<body class="container">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="left-pane left-pane-border">
                    <h4>Site Categories</h4>
                    <ul id="category-list"></ul>
                </div>

                <div class="left-pane">
                    <h4>View By County</h4>
                    <select id="county" name="county">
                        <option>All</option>
                        <option>Carlow</option>
                        <option>Cavan</option>
                        <option>Clare</option>
                        <option>Cork</option>
                        <option>Donegal</option>
                        <option>Dublin</option>
                        <option>Galway</option>
                        <option>Kerry</option>
                        <option>Kildare</option>
                        <option>Kilkenny</option>
                        <option>Laois</option>
                        <option>Leitrim</option>
                        <option>Limerick</option>
                        <option>Longford</option>
                        <option>Louth</option>
                        <option>Mayo</option>
                        <option>Meath</option>
                        <option>Monaghan</option>
                        <option>Offaly</option>
                        <option>Roscommon</option>
                        <option>Sligo</option>
                        <option>Tipperary</option>
                        <option>Waterford</option>
                        <option>Westmeath</option>
                        <option>Wexford</option>
                        <option>Wicklow</option>
                    </select>
                </div>
            </div>
            <div class="col-md-9">
                <div id="map_wrapper">
                    <div id="map_canvas" class="mapping"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAJS2Zlx1_7jfEz - dCYrTZhB64BsCgJGZ8"></script>
    <script>
        jQuery(function ($) {
            initialize();
        });
        //jQuery(function ($) {
        //    // Asynchronously Load the map API
        //    var script = document.createElement('script');
        //    script.src = "//maps.googleapis.com/maps/api/js?key=AIzaSyAJS2Zlx1_7jfEz - dCYrTZhB64BsCgJGZ8&sensor=false&callback=initialize";
        //    document.body.appendChild(script);
        //});

        // global google maps object
        var map;
        // global google maps bounding object
        var bounds = new google.maps.LatLngBounds();
        // global google maps display options
        var mapOptions = {
            mapTypeId: 'roadmap'
        };

        function initializeMapObject() {
            // Display a map on the page
            map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
            map.setTilt(45);
        }

        // setup the county coordinates
        var countyCoordinates = [];
        countyCoordinates.push({ county: "All", latitude: 53.45279519731847, longitude: -8.161149216308559, zoom: 8 });
        countyCoordinates.push({county:"Carlow", latitude:52.7232217, longitude:-6.810829499999954, zoom:10});
        countyCoordinates.push({county:"Cavan", latitude:53.9765424, longitude:-7.299662300000023, zoom:10});
        countyCoordinates.push({county:"Clare", latitude:52.87304541386319, longitude:-9.01958724843746, zoom:10});
        countyCoordinates.push({county:"Cork", latitude:51.994206, longitude:-8.728544599999964, zoom:9});
        countyCoordinates.push({county:"Donegal", latitude:54.8661152, longitude:-7.9954086999999845, zoom:9});
        countyCoordinates.push({county:"Dublin", latitude:53.3302033, longitude:-6.310565600000018, zoom:11});
        countyCoordinates.push({county:"Galway", latitude:53.3564509, longitude:-8.853411300000062, zoom:9});
        countyCoordinates.push({county:"Kerry", latitude:52.15446069999999, longitude:-9.566863199999943, zoom:9});
        countyCoordinates.push({county:"Kildare", latitude:53.1765358, longitude:-6.805217999999968, zoom:10});
        countyCoordinates.push({county:"Kilkenny", latitude:52.61671911195139, longitude:-7.198375523437562, zoom:10});	
        countyCoordinates.push({county:"Laois", latitude:52.994295, longitude:-7.332300700000019, zoom:10});
        countyCoordinates.push({county:"Leitrim", latitude:54.1246909, longitude:-8.002013300000044, zoom:10});
        countyCoordinates.push({county:"Limerick", latitude:52.5090517, longitude:-8.747495500000014, zoom:10});
        countyCoordinates.push({county:"Longford", latitude:53.7113023590347, longitude:-7.7271599312499575, zoom:11});
        countyCoordinates.push({county:"Louth", latitude:53.892873892918224, longitude:-6.450490151562462, zoom:11});
        countyCoordinates.push({county:"Mayo", latitude:54.0152604, longitude:-9.428936900000053, zoom:9});
        countyCoordinates.push({county:"Meath", latitude:53.60554800000001, longitude:-6.6564169000000675, zoom:10});
        countyCoordinates.push({county:"Monaghan", latitude:54.151200449620184, longitude:-6.907888395312511, zoom:10});
        countyCoordinates.push({county:"Offaly", latitude:53.245549347495654, longitude:-7.605106200781279, zoom:11});
        countyCoordinates.push({county:"Roscommon", latitude:53.7592604, longitude:-8.26816210000004, zoom:10});
        countyCoordinates.push({county:"Sligo", latitude:54.118318643000485, longitude:-8.609199782031283, zoom:10});
        countyCoordinates.push({county:"Tipperary", latitude:52.65410373497784, longitude:-7.903672689062432, zoom:9});
        countyCoordinates.push({county:"Waterford", latitude:52.197421972041745, longitude:-7.593806717187476, zoom:10});
        countyCoordinates.push({county:"Westmeath", latitude:53.54595604884169, longitude:-7.395283858203129, zoom:10});
        countyCoordinates.push({county:"Wexford", latitude:52.4793603, longitude:-6.58399129999998, zoom:10});
        countyCoordinates.push({county:"Wicklow", latitude:52.9862313, longitude:-6.367254300000013, zoom:10});

        $('#county').on('change', function (e) {
            var search = $.trim(this.value).toString();
            var found = countyCoordinates.filter(function (item) { return item.county == search; });

            if (found !== undefined && found.length === 1) {
                var bounds = new google.maps.LatLngBounds();
                bounds.extend(new google.maps.LatLng(found[0].latitude, found[0].longitude));
                map.fitBounds(bounds);
                map.setCenter(bounds.getCenter());
                map.setZoom(found[0].zoom);
            }
        });

        function initialize() {
            // global array of google map markers
            var googleMarkers = [];
            // local array to hold marker details from the database
            var markers = [];

            // initialize the map object for use
            initializeMapObject();

            // Display multiple markers on a map
            var infoWindow = new google.maps.InfoWindow(), marker, i;

            // initialise the markers and load them onto the map
            $.get("Home/GetSiteLocation", function (response) {
                if (response != undefined && response.length > 0) {
                    //alert("Data: " + JSON.stringify(response));

                    var iconBase = 'Images/';
                    for (var i = 0; i < response.length; i++) {
                        var marker = [];

                        marker.push(response[i].SiteName);
                        marker.push(response[i].Latitude);
                        marker.push(response[i].Longitude);
                        marker.push(iconBase + response[i].ScopeIcon);
                        marker.push(response[i].SiteName);
                        marker.push(response[i].SiteScope.ScopeId);
                        marker.push(formatAddress(response[i]));

                        markers.push(marker);
                    }

                    // Loop through our array of markers & place each one on the map
                    for (i = 0; i < markers.length; i++) {
                        var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
                        bounds.extend(position);
                        marker = new google.maps.Marker({
                            position: position,
                            map: map,
                            title: markers[i][0],
                            icon: markers[i][3],
                            visible: true
                        });

                        // Allow each marker to have an info window
                        google.maps.event.addListener(marker, 'click', (function (marker, i) {
                            return function () {
                                infoWindow.setContent('<div class="info_content"><h4>' + markers[i][4] + '</h4><p>' + markers[i][6] + '</p></div>');
                                infoWindow.open(map, marker);
                            }
                        })(marker, i));

                        // global array of google map markers
                        googleMarkers.push(marker);

                        // Automatically center the map fitting all markers on the screen
                        map.fitBounds(bounds);
                    }
                }
            });

            // initialise the categories list.
            LoadSiteScopeList();

            // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
            var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function (event) {
                this.setZoom(8);
                google.maps.event.removeListener(boundsListener);
            });
            var zoomListener = google.maps.event.addListener((map), 'zoom_changed', function () {
                var zoom = map.getZoom();
                if (zoom <= 6) {
                    setAllMarkers(false);
                } else if (zoom >= 6 && zoom <= 7) {
                    setAllMarkers(true);
                }
            });

            // set the visible state of all markers on the map to be show or hide
            // set the checked state of all category checkboxes to be true or false
            function setAllMarkers(status) {
                // hide all markers on the map
                for (var i = 0; i < googleMarkers.length; i++) {
                    googleMarkers[i].setVisible(status);
                }
                // set all checkboxes to be un-checked
                $('#category-list input[type=checkbox]').each(function () {
                    this.checked = status;
                });
            }

            function LoadSiteScopeList() {
                // call the get scope list method in the home controller to return a list of site scopes (categories).
                $.get("Home/GetScopeList", function (response) {
                    // if the request returns a response object with values.
                    if (response != undefined && response.length > 0) {
                        // loop through the response and build.
                        for (var i = 0; i < response.length; i++) {
                            var checkBoxId = $.trim(response[i].ScopeName.toLowerCase());

                            // format the list item to display
                            var listItem = '<li>' +
                                '<input type="checkbox" id="' + checkBoxId + '" checked />' +
                                '<img src="Images/' + response[i].ScopeIcon + '" />' +
                                '<a href="' + response[i].ScopeId + '">' + response[i].ScopeName + '</a>' +
                                '<span>(' + response[i].ScopeCount.toString() + ')</span>' +
                                '</li>';

                            // append the returned 'li' to the 'ul'.
                            $('#category-list').append(listItem);

                            // add click event to each category checkbox to show/hide the markers when checked/unchecked.
                            $('#' + checkBoxId).click(function () {
                                for (var i = 0; i < googleMarkers.length; i++) {
                                    if (stripIconName(googleMarkers[i].icon) === this.id) {
                                        googleMarkers[i].setVisible(this.checked);
                                    }
                                }
                            });
                        }
                    }
                    else {
                        // format a message to display
                        var listItem = '<li>No categories were found.</li>';
                        // append the error 'li' to the 'ul'.
                        $('#category-list').append(listItem);
                    }
                }).fail(function () {
                    // format a message to display
                    var listItem = '<li>There was a problem getting the categories.</li>';
                    // append the error 'li' to the 'ul'.
                    $('#category-list').append(listItem);
                });
            }

            function stripIconName(iconPath) {
                var filename = iconPath.split('/').pop();
                return filename.split(".")[0];
            }

            function formatAddress(response) {
                var formattedAddress = '';

                formattedAddress += response.SiteAddress1 === undefined ||  response.SiteAddress1 === '' ? '' : response.SiteAddress1 + '<br/>';
                formattedAddress += response.SiteAddress2 === undefined || response.SiteAddress2 === '' ? '' : response.SiteAddress2 + '<br/>';
                formattedAddress += response.SiteAddress3 === undefined || response.SiteAddress3 === '' ? '' : response.SiteAddress3 + '<br/>';
                formattedAddress += response.SiteCity === undefined || response.SiteCity === '' ? '' : response.SiteCity + '<br/>';
                formattedAddress += response.SiteCountry === undefined || response.SiteCountry === '' ? '' : response.SiteCountry + '<br/>';
                formattedAddress += response.SitePostcode === undefined || response.SitePostcode === '' ? '' : response.SitePostcode + '<br/>';

                return formattedAddress;
            }
        }
    </script>

</body>
</html>
